<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Model Page</title>
</head>
<body>
<h1>Welcome to the Model Demo</h1>
<h2>
    <span>Name:  <th:block th:text="${name}">[name]</th:block></span> <br />
    <span>Language: <th:block th:text="${language}">[language]</th:block></span> <br />
    <span>Framework: <th:block th:text="${framework}">[framework]</th:block></span> <br />

    <span>Field 1: <th:block th:text="${field1}">[field1]</th:block></span> <br />
    <span>Field 2: <th:block th:text="${field2}">[field2]</th:block></span> <br />
    <span>Field 3: <th:block th:text="${field3}">[field3]</th:block></span> <br />
    <span>Field 4: <th:block th:text="${field4}">[field4]</th:block></span> <br />

    <span><a th:href="@{/model-and-view-page}">Click here for the ModelAndView Page</a></span>
</h2>
</body>
</html>