<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application</title>
</head>
<body>
<h1>Welcome to Spring Boot practice using Thymeleaf</h1>
<h2>
    <span>Hello 1, <th:block th:text="${X1}">[irrelevant]</th:block></span></br>
    <span>Hello 2, <th:block th:text="${X2}">[irrelevant]</th:block></span></br>
    <span>Hello 3, <th:block th:text="${X3}">[irrelevant]</th:block></span></br>
    <span>Hello 4, <th:block th:text="${X4}">[irrelevant]</th:block></span></br>

</h2>
</body>
</html>